.aboutCardsContainer {
  display: flex;
}

.aboutCard {
  height: 500px;
  width: 260px;
  margin: 0 auto;
}

.card-img-top-about {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .aboutContainer {
    width: 100%;
    font-size: 15px;
  }
  .card-img-top-about {
    width: auto;
  }
}
