.navbar {
  position: relative;
  width: 100%;
  bottom: 20px;
  height: 80px;
  background-color: #ede0d4;
}

.navbar-brand,
.nav-item {
  text-align: center;
  margin: auto;
}

.btn-logout {
  float: right;
  margin: 10px;
  margin-bottom: 5px;
}
