.my_footer {
  background-color: ghostwhite;
  position: relative;
  left: 0;
  bottom: 0;
  top: 20px;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: #ede0d4;
}

@media only screen and (max-width: 600px) {
  .my_footer {
    position: sticky;
    margin-top: 430px;
  }
}
