.newBizWrap {
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  width: 500px;
  text-align: center;
}

div .newFormGroup {
  width: 100%;
}

img .attorneyEndClient {
  width: 1000px;
  height: 500px;
  align-items: center;
}
